.wrapper {
  position: fixed;

  width: 100dvw;
  height: 100dvh;

  z-index: 10001;
}

.wrapper {
  position: fixed;
  inset: 0;
  z-index: 10001;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  z-index: 10000;
}

.input {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-secondary);
  color: var(--text);
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 16px;

  outline: none;

  min-height: 50px;
  max-height: 50px;
  min-width: 400px;

  &:focus {
    box-shadow: 0 0 10px 1px var(--text);
  }
}

.closeButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;

  padding: 5px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
