.title {
  font-size: 2.5rem;
  color: var(--text);
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  width: 100dvw;
  height: 100dvh;
  
  border: 1px solid red;
}

.checkoutButton {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: var(--accent);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
