.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  border-radius: 16px;
  min-width: 400px;
  min-height: 500px;
  padding: 20px;
  gap: 20px;

  z-index: 10002;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  span {
    color: rgb(247, 72, 72);
    font-size: 0.875rem;
  }
}

.section_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  span {
    color: rgb(247, 72, 72);
    font-size: 0.875rem;
  }
}

.textarea {
  font: inherit;
  inset: 0;
  background: none;
  resize: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  color: var(--text);

  min-height: 200px;

  &:focus {
    outline: none;
    border-color: var(--accent);
    box-shadow: 0 0 0 3px var(--accent-bg);
  }

  &::placeholder {
    color: var(--text);
    opacity: 0.5;
  }
}

.submit {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--accent);
  color: var(--text);
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-hover);
  }
}

.error {
  color: rgb(247, 72, 72);
  font-size: 0.875rem;
}
